<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema Consulta Dev</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaConsultaDev.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
           <div class="container-fluid">
                <ul class="navbar-nav mr-auto">

                    <!--Link Para Home-->
                    <li class="nav-item active">
                        <a class="nav-link" href="index"> Home <span class="sr-only">(página atual)</span></a>
                    </li>

                    <!--Menu C# Curso Udemy-->

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            C# Udemy Exercícios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("LeituraGeral", new { NomeArquivo = "LogicaRecapitulacao" })">Recapitulação Lógica</a>
                            <a class="dropdown-item" href="@Url.Action("LeituraGeral", new { NomeArquivo = "Classes" })">Classes</a>
                            <a class="dropdown-item" href="@Url.Action("LeituraGeral", new { NomeArquivo = "Sobrecarga Encapsulamento" })">Sobrecarga/Encapsulamento</a>
                            <a class="dropdown-item" href="@Url.Action("LeituraGeral", new { NomeArquivo = "Vetores Listas Matrizes" })">Vetores Listas Matrizes</a>
                            <a class="dropdown-item" href="@Url.Action("LeituraGeral", new { NomeArquivo = "Tópicos Especiais" })">Tópicos Especiais DateTime</a>
                            <a class="dropdown-item" href="@Url.Action("LeituraGeral", new { NomeArquivo = "Enumerações Composição" })">Enumerações Composição</a>
                            <a class="dropdown-item" href="@Url.Action("LeituraGeral", new { NomeArquivo = "Herança e Polimorfismo" })">Herança e Polimorfismo</a>
                            <a class="dropdown-item" href="@Url.Action("LeituraGeral", new { NomeArquivo = "Excessões" })">Excessões</a>
                            <a class="dropdown-item" href="@Url.Action("LeituraGeral", new { NomeArquivo = "Arquivos" })">Arquivos</a>
                            <a class="dropdown-item" href="@Url.Action("LeituraGeral", new { NomeArquivo = "Interface" })">Interfaces</a>
                            <a class="dropdown-item" href="@Url.Action("LeituraGeral", new { NomeArquivo = "Interface 2 Contratos" })">Interfaces 2 Contrato</a>

                        </div>

                    </li>


                    <!--Menu GitHub-->

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            GitHub
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("LeituraGeral", new { NomeArquivo = "Fazer Comit Salvar" })">Fazer Commit/Salvar</a>

                        </div>
                    </li>


                </ul>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Sistema Consulta Dev - Desenvolvido por: <a href="mailto:leandrojose2226@gmail.com">leandrojose2226@gmail.com</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
